---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getBlogs } from "../library/microcms";

// ブログ記事一覧の取得
const response = await getBlogs({ fields: ["id", "title", "image"] });
---

<BaseLayout>
    <div class="title blog">
        <p>BLOG</p>
    </div>

    <div class="container">
        <!--ul>
            {
                response.contents.map((content: any) => (
                    <div>
                        <li key={content.id} class="blog-item">
                            <a href={content.id}>
                                {content.image && (
                                    <img
                                        src={content.image.url}
                                        alt={content.title}
                                        class="blog-image"
                                    />
                                )}
                                <h3>{content.title}</h3>
                            </a>
                        </li>
                    </div>
                ))
            }
        </ul> -->
    </div>

    <hr />
</BaseLayout>

<style>
    .blog {
        background: url(/images/blog_page/blog.webp) no-repeat center center;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 10px;
        margin: 10% 15%;
    }

    /* 各アイテムのスタイル */
    .blog-item {
        background-color: rgba(255, 255, 255, 0.8); /* 背景色 */
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;
    }

    .blog-item a {
        text-decoration: none;
        color: inherit;
    }

    .blog-item:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .blog-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .blog-item h3 {
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
</style>

<script src="/js/fadein.js" defer></script>
