---
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await Astro.glob("../pages/post/*.md"); // returns an array of posts that live at ./src/pages/post/*.md
---

<BaseLayout>
    <div class="title blog">
        <p>BLOG</p>
    </div>
    <div class="content-part">
        <div class="container fadein">
            {
                posts
                    .reverse()
                    .slice(0, 50)
                    .map((post) => (
                        <a href={post.frontmatter.url}>
                            <img
                                src={post.frontmatter.image}
                                alt={post.frontmatter.description}
                                loading="lazy"
                            />
                            <h2>{post.frontmatter.date}</h2>
                            <h1>{post.frontmatter.title}</h1>
                        </a>
                    ))
            }
        </div>
    </div>
    <hr />
</BaseLayout>

<style>
    .blog {
        background: url(/images/blog_page/blog.webp) no-repeat center center;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    .container {
        margin-left: 5%;
        margin-right: 5%;
        gap: 40px;
    }
</style>

<script src="/js/fadein.js" defer></script>
