---
import BaseLayout from "../layouts/BaseLayout.astro";

const blogs = await Astro.glob("../pages/blog/*.md"); // returns an array of blogs that live at ./src/pages/blog/*.md
---

<BaseLayout title="BLOG">
    <div class="title blog">
        <h1>BLOG</h1>
    </div>
    <div class="content-part">
        <div class="container fadein">
            {
                blogs
                    .reverse()
                    .slice(0, 50)
                    .map((blog) => (
                        <a href={blog.frontmatter.url}>
                            <img
                                src={blog.frontmatter.image}
                                alt={blog.frontmatter.description}
                                loading="lazy"
                            />
                            <h2>{blog.frontmatter.date}</h2>
                            <h1>{blog.frontmatter.title}</h1>
                        </a>
                    ))
            }
        </div>
    </div>
    <hr />
</BaseLayout>

<style>
    .blog {
        background: url(/images/blog_page/blog.webp) no-repeat center center;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    .container {
        gap: 40px;
    }

    @media (max-width: 799px) {
        .container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
</style>

<script src="/js/fadein.js" defer></script>
