---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

import concept1 from "../images/concepthouse_page/concepthouse1.webp";
import concept2 from "../images/concepthouse_page/concepthouse2.webp";
import concept3 from "../images/concepthouse_page/concepthouse3.webp";
import concept4 from "../images/concepthouse_page/concepthouse4.webp";
import concept5 from "../images/concepthouse_page/concepthouse5.webp";
import concept6 from "../images/concepthouse_page/concepthouse6.webp";
import concept7 from "../images/concepthouse_page/concepthouse7.webp";
import concept8 from "../images/concepthouse_page/concepthouse8.webp";
import concept9 from "../images/concepthouse_page/concepthouse9.webp";
import concept10 from "../images/concepthouse_page/concepthouse10.webp";
import concept11 from "../images/concepthouse_page/concepthouse11.webp";
import concept12 from "../images/concepthouse_page/concepthouse12.webp";
import concept13 from "../images/concepthouse_page/concepthouse13.webp";
import concept14 from "../images/concepthouse_page/concepthouse14.webp";
import concept15 from "../images/concepthouse_page/concepthouse15.webp";
import concept16 from "../images/concepthouse_page/concepthouse16.webp";
import concept17 from "../images/concepthouse_page/concepthouse17.webp";
import concept18 from "../images/concepthouse_page/concepthouse18.webp";
import concept19 from "../images/concepthouse_page/concepthouse19.webp";
import concept20 from "../images/concepthouse_page/concepthouse20.webp";
import concept21 from "../images/concepthouse_page/concepthouse21.webp";
import concept22 from "../images/concepthouse_page/concepthouse22.webp";
import concept23 from "../images/concepthouse_page/concepthouse23.webp";
import concept24 from "../images/concepthouse_page/concepthouse24.webp";
import concept25 from "../images/concepthouse_page/concepthouse25.webp";
import concept26 from "../images/concepthouse_page/concepthouse26.webp";
import concept27 from "../images/concepthouse_page/concepthouse27.webp";
import concept28 from "../images/concepthouse_page/concepthouse28.webp";
import concept29 from "../images/concepthouse_page/concepthouse29.webp";
---

<BaseLayout title="CONCEPT HOUSE">
    <div class="concepthouse_title title">
        <h1>CONCEPT HOUSE</h1>
    </div>

    <div class="content-part">
        <div class="house_images">
            <div class="lineA">
                <Image alt="画像の詳細1" src={concept1} loading="eager" />
                <Image alt="画像の詳細2" src={concept2} />
                <Image alt="画像の詳細3" src={concept3} />
                <Image alt="画像の詳細4" src={concept4} />
                <Image alt="画像の詳細5" src={concept5} />
                <Image alt="画像の詳細6" src={concept6} />
                <Image alt="画像の詳細7" src={concept7} />
                <Image alt="画像の詳細8" src={concept8} />
                <Image alt="画像の詳細9" src={concept9} />
            </div>
            <div class="lineB">
                <Image alt="画像の詳細10" src={concept10} loading="eager" />
                <Image alt="画像の詳細11" src={concept11} loading="eager" />
                <Image alt="画像の詳細12" src={concept12} />
                <Image alt="画像の詳細13" src={concept13} />
                <Image alt="画像の詳細14" src={concept14} />
                <Image alt="画像の詳細15" src={concept15} />
                <Image alt="画像の詳細16" src={concept16} />
                <Image alt="画像の詳細17" src={concept17} />
                <Image alt="画像の詳細17" src={concept18} />
                <Image alt="画像の詳細19" src={concept19} />
            </div>
            <div class="lineC">
                <Image alt="画像の詳細20" src={concept20} loading="eager" />
                <Image alt="画像の詳細21" src={concept21} loading="eager" />
                <Image alt="画像の詳細22" src={concept22} />
                <Image alt="画像の詳細23" src={concept23} />
                <Image alt="画像の詳細24" src={concept24} />
                <Image alt="画像の詳細25" src={concept25} />
                <Image alt="画像の詳細26" src={concept26} />
                <Image alt="画像の詳細27" src={concept27} />
                <Image alt="画像の詳細28" src={concept28} />
                <Image alt="画像の詳細29" src={concept29} />
            </div>
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="margin">
            <img class="modal-content" id="modalImage" />
        </div>
    </div>

    <hr />
</BaseLayout>

<style>
    image {
        width: 100%;
        height: auto;
    }
    h2 {
        font-size: 32px;
        margin-bottom: 100px;
    }

    .concepthouse_title {
        background: url(/images/concepthouse_page/concepthouse1.webp) no-repeat
            center center;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .house_images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    @media (max-width: 799px) {
        .house_images {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .house_images img {
        width: 80%;
        cursor: pointer;
        transition: transform 0.2s;
        margin-bottom: 20%;
    }

    .house_images img:hover {
        transform: scale(1.05);
    }

    /* モーダル */
    .modal {
        display: none;
        position: fixed;
        z-index: 10000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        max-width: 80vw;
        max-height: 80vh;
        object-fit: contain;
    }
</style>

<script src="/js/fedein.js" defer></script>
<script src="/js/modal.js" defer></script>
