---
import { Image } from "astro:assets";
import IndexLayout from "../layouts/IndexLayout.astro";

import slides1 from "../images/index_page/slides/slide1.webp";
import slides2 from "../images/index_page/slides/slide2.webp";
import slides3 from "../images/index_page/slides/slide3.webp";
import slides4 from "../images/index_page/slides/slide4.webp";
import conceptimg from "../images/index_page/top_concept2.webp";
import case1 from "../images/index_page/case1.webp";
import case2 from "../images/index_page/case2.webp";
import case3 from "../images/index_page/case3.webp";
import map from "../images/map.webp";

const images = [slides1, slides2, slides3, slides4];
const blogs = await Astro.glob("../pages/blog/*.md"); // returns an array of blogs that live at ./src/pages/blog/*.md
---

<IndexLayout>
	<div class="slideshow">
		<h1 class="logo" style="font-size: 42px;">Life In Suburb</h1>
		{
			images.map((src, index) => (
				<Image
					src={src}
					alt={`スライド${index + 1}`}
					class="slide"
					style={`z-index: ${images.length - index};`}
					loading="eager"
				/>
			))
		}
	</div>

	<div class="content-part">
		<div class="parts">
			<div class="fade-in ourthought-part">
				<div class="part_title">
					<h2>Our Thought</h2>
				</div>
				<div>
					<p style="line-height: 2em;">
						スタイルやバランスを意識し、素材や質感、製品へのこだわりを強く持つことで、<br
						/>小さな部分での重なりが全体としての大きな違いを生み出すと考えています。<br
						/>このような違いがお客様の生活を豊かにできる一助となることが私たちの喜びです。
					</p>
				</div>
			</div>
		</div>
		<div class="not_mobile">
			<div class="parts concept-part">
				<div class="image-wrapper">
					<Image alt="コンセプト画像" src={conceptimg} />
					<div class="text-overlay">
						<div class="part_title">
							<h2>CONCEPT</h2>
						</div>
						<p style="line-height: 2em;">
							自然に囲まれた郊外で、大切な人と心豊かな暮らしを。
							<br />
							ゆとりある空間で家族の気配を感じながら、それぞれのペースで過ごすことができる住まいを。
							<br />
							心地よさに包まれながらもパーソナルスペースを大切にし、暮らしの中から自由な発想が生まれる環境をご提案。
							<br />
							建物は長期優良住宅を基本とし、次世代へ継ぐこともできる安心の住まいをご提供します。
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="mobile">
			<div class="parts">
				<div class="fade-in">
					<Image src={conceptimg} alt="Thoughtimg" loading="eager" />
				</div>
				<div class="fade-in">
					<div class="part_title" style="margin-top: 20px;">
						<h2>CONCEPT</h2>
					</div>

					<p style="line-height: 2em; text-align: left; ">
						自然に囲まれた郊外で、大切な人と心豊かな暮らしを。
						<br />
						ゆとりある空間で家族の気配を感じながら、それぞれのペースで過ごすことができる住まいを。
						<br />
						心地よさに包まれながらもパーソナルスペースを大切にし、暮らしの中から自由な発想が生まれる環境をご提案。
						<br />
						建物は長期優良住宅を基本とし、次世代へ継ぐこともできる安心の住まいをご提供します。
					</p>

					<div class="viewmore">
						<button onclick="location.href='concept'">
							VIEW MORE
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="parts">
			<div class="part_title fade-in">
				<h2>WORKS</h2>
			</div>
			<div class="content_part">
				<div class="thought_container_a fade-in">
					<p>Living</p>
					<Image src={case1} alt="case1" />
				</div>

				<div class="thought_container_b">
					<div class="pic2 fade-in">
						<Image src={case2} alt="case2" />
					</div>
					<div class="pics-com fade-in">
						<p class="pic2-com">Corridor</p>
						<p class="pic3-com">Entrance</p>
					</div>
					<div class="pic3 fade-in">
						<Image src={case3} alt="case3" />
					</div>
				</div>

				<div class="viewmore fade-in">
					<button onclick="location.href='works'"> VIEW MORE </button>
				</div>
			</div>
		</div>
		<div class="parts">
			<div class="part_title fade-in">
				<h2>BLOG</h2>
			</div>
			<div class="container fade-in">
				{
					blogs
						.reverse()
						.slice(0, 3)
						.map((blog) => (
							<a href={blog.frontmatter.url}>
								<img
									src={blog.frontmatter.image}
									alt={blog.frontmatter.description}
									loading="lazy"
								/>
								<h2 class="blog_date">
									{blog.frontmatter.date}
								</h2>
								<h1>{blog.frontmatter.title}</h1>
							</a>
						))
				}
			</div>
			<div class="viewmore fade-in">
				<button onclick="location.href='blog'"> VIEW MORE </button>
			</div>
		</div>

		<div class="parts">
			<div class="part_title fade-in">
				<h2>OFFICE</h2>
			</div>
			<div class="office fade-in">
				<div class="office_item">
					<h1>Life In Suburb</h1>
					<p>〒427-0104 静岡県島田市井口1421</p>
					<p>open：9:00～17:00</p>
					<p>close：sunday（第1日曜日は営業）</p>
					<div class="map_button">
						<a
							href="https://maps.app.goo.gl/d1T6yti99d1qib9q8?g_st=com.google.maps.preview.copy"
						>
							google map
						</a>
					</div>
				</div>
				<div class="office_map">
					<Image src={map} alt="地図" />
				</div>
			</div>
		</div>
	</div>
	<hr />

	<style>
		h2 {
			font-size: 40px;
			text-align: center;
		}

		h2.blog_date {
			text-align: left;
		}

		/* スライドショー */
		.slideshow {
			height: 820px;
		}
		.slide {
			position: absolute;
			height: 750px;
			width: 100%;
			overflow: hidden;
			object-fit: cover;
			opacity: 0;
			transition: opacity 0.8s ease-in-out;
		}

		.slide.show {
			opacity: 1;
		}
		.logo {
			top: 360px;
			width: 100%;
			left: 50%;
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			position: absolute;
			font-weight: 400;
			color: #fffffff7;
			opacity: 0;
			transition: opacity 2s ease-out 1.5s;
			z-index: 2000;
		}
		.logo.show {
			opacity: 1;
		}

		.mobile {
			display: none;
		}

		@media (max-width: 800px) {
			.mobile {
				display: block;
			}
			.not_mobile {
				display: none;
			}
		}

		@media (max-width: 800px) {
			.slideshow {
				height: 720px;
			}
			.slide {
				position: absolute;
				height: 680px;
				width: 100%;
				overflow: hidden;
				object-fit: cover;
				opacity: 0;
				transition: opacity 0.8s ease-in-out;
			}
			.logo {
				top: 340px;
				font-size: 40px;
			}
		}
		/*共通*/
		.part_title {
			margin-bottom: 6%;
		}
		.parts {
			margin-bottom: clamp(40px, 20%, 200px);
		}
		.viewmore {
			text-align: center;
			margin-top: 2%;
		}
		.viewmore button {
			background-color: #ffffff;
			color: rgb(0, 0, 0);
			padding: 20px 60px;
			border: 1px solid #000000;
			cursor: pointer;
			transition: 0.5s ease;
		}
		.viewmore button:hover {
			color: #ffffff;
			background-color: #202020;
		}

		/*Concept*/

		/* 概念セクション hover エフェクト */
		.parts.concept-part .image-wrapper {
			position: relative;
			width: 100%;
			overflow: hidden;
		}

		.parts.concept-part .image-wrapper img {
			width: 100%;
			height: auto;
			object-fit: cover;
			transition: filter 0.5s ease;
		}

		.parts.concept-part .image-wrapper:hover img {
			filter: brightness(40%);
		}

		.parts.concept-part .text-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 1em;
			text-align: center;
			pointer-events: none; /* クリック不可 */
			transition: opacity 0.5s ease;
			opacity: 0;
		}

		.parts.concept-part .image-wrapper:hover .text-overlay {
			opacity: 1;
			pointer-events: auto;
		}

		/*WORKS*/
		.thought_container_a {
			display: grid;
			grid-template-columns: 1fr 2fr;
			margin-bottom: 10%;
		}
		.thought_container_a p {
			padding-top: 20%;
		}
		.thought_container_b {
			display: grid;
			grid-template-columns: 1fr 1fr 1.3fr;
			margin-bottom: 10%;
		}
		.content_part p {
			font-size: 25px;
		}
		.pic2-com {
			text-align: left;
			margin: 30% 0 0 20%;
		}
		.pic3-com {
			margin: 150% 20% 0 0;
			text-align: right;
		}
		.pic3 img {
			margin-top: 30%;
		}

		/*Blog*/
		.container {
			margin-bottom: 6%;
		}
		.article h1 {
			text-align: left;
			font-size: 16px;
		}
		.article p {
			text-align: left;
		}
		.container h1 {
			font-size: 18px;
			font-weight: 500;
		}
		.container h2 {
			font-size: 14px;
		}

		/*office*/
		.office {
			position: relative;
			display: grid;
			grid-template-columns: 1fr 2fr;
			gap: 20px;
			width: 100%;
		}
		.office_item h1 {
			font-size: 24px;
			text-align: left;
			padding-bottom: 10%;
		}
		.office_item p {
			text-align: left;
			margin-bottom: 3%;
		}
		.office_map {
			width: 100%;
		}
		.map_button {
			margin-top: 20%;
		}
		.map_button a {
			padding: 5%;
			padding-left: 30%;
			padding-right: 30%;
			white-space: nowrap;
			text-decoration: none;
			border: 1px solid #000000;
			transition: 0.5s ease;
		}
		.map_button a:hover {
			color: #ffffff;
			background-color: #000000;
			opacity: 1;
		}

		@media (min-width: 801px) and (max-width: 1040px) {
			p {
				font-size: 16px;
			}
			.text-overlay {
				position: absolute;
				bottom: 3%;
				left: 3%;
			}
		}
		@media (max-width: 800px) {
			h2 {
				font-size: 30px;
			}

			.image-text-container {
				flex-direction: column; /* 縦並びにする */
			}

			.responsive-img,
			.text-overlay {
				width: 100%; /* 全幅にする */
			}

			.text-overlay {
				text-align: left;
				bottom: 3%;
				left: 3%;
			}

			.thought_container_a {
				display: grid;
				grid-template-columns: 1fr;
				margin-bottom: 10%;
			}
			.thought_container_a p {
				display: none;
			}
			.thought_container_b {
				grid-template-columns: 1.5fr 0.4fr 1.5fr;
			}
			.pics-com p {
				display: none;
			}
			.pic3 {
				margin-top: 90%;
			}
			.container {
				grid-template-columns: repeat(1, 70%);
				justify-content: center;
				gap: 30px;
			}
			.container h1 {
				font-size: 18px;
				font-weight: 500;
			}
			.container h2 {
				font-size: 14px;
			}
			.office {
				grid-template-columns: 1fr;
				grid-template-areas:
					"right"
					"left";
			}
			.office_item {
				grid-area: left;
			}
			.office_map {
				grid-area: right;
				display: flex;
				justify-content: center;
				padding: 0% 10% 5%;
			}
			.office_item h1 {
				font-size: 24px;
				text-align: left;
				padding-bottom: 7%;
			}
			.office_item p {
				text-align: left;
				margin-bottom: 1%;
			}
			.map_button {
				margin-top: 10%;
				text-align: center;
			}
			.map_button a {
				padding: 3%;
				padding-left: 15%;
				padding-right: 15%;
				white-space: nowrap;
				text-decoration: none;
				border: 1px solid #000000;
				transition: 0.5s ease;
			}
			.map_button a:hover {
				color: #ffffff;
				background-color: #000000;
				opacity: 1;
			}
		}
	</style>

	<script src="/js/fadein.js" defer></script>
	<script src="/js/index.js" defer></script>
</IndexLayout>
